# Python
**/__pycache__/
**/*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
*.sqlite3
*.log
staticfiles/
media/  # keep this ignored unless you want to track uploaded files

# IDEs
.vscode/
.idea/

# Environment variables
.env
